* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(255, 255, 255);
  color: black;
  font-family: Epilogue;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: 0;
}

#windowFrame {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  -webkit-app-region: drag;
  background-color: rgba(255, 255, 255, 0);
  cursor: move;
}

h1 { 
  font-size: 1rem;
  font-weight: 300;
}


img {
  z-index: 100;
  width: 15rem;
}
ul {
  list-style: none;
}
.container {
 display: flex;
 flex-direction: row;
}


.side-nav {
  width: 25%;
  padding: 0 3rem;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: white;
  backdrop-filter: blur(5px);
  margin: 0 auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2); 
  overflow-x: scroll
}

.content {
  width: 75%;
  height: 100%;
  padding: 3rem;
}

button {
  background: white;
  border: 1px solid rgb(211, 211, 211);
  color: black;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  transition: 0.2s linear all;
  
}

button:hover {
  opacity: 0.7;
}

.songItem h2 {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  gap: 2rem;
}

.songItem h2:hover {
  color: inherit;
}

#songs {
  width: 100%;

}

#playList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.playlist-description {
  display: flex;
  width: 100%;
  justify-content: start;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


.songItem {
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  transition: 0.2s linear all;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;

}

.songItem:hover {
  color: #fbbb3b;
  transform: scale(1.01)
}

.audio-player {
  position: fixed;
  width: 75%;
  height: 60px;
  bottom: 0;
  z-index: 2;
  right: 0;
  backdrop-filter: blur(5px);
  margin: 0 auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2); 
  
}

audio {
  width: 100%;
}

.song-playing {
  position: relative;
  width: 100%;
  background: #fbbb3b;
  margin-top: 20px;
  text-align: center;
}

p {
  margin: 0px;
  color: black;
  position: absolute;
  top: -45px;
  font-size: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}
audio::-webkit-media-controls-enclosure {
  border-radius: 0px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
}

#searchBar {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid rgb(211, 211, 211);
}

#searchBar:focus {
  outline: none
}

.ui-menu {
  z-index: 200;
}

.ui-menu-item-wrapper {
  border: 1px solid rgb(235, 235, 235);
  border-top: none;
  background: white;
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  transition: 0.2s linear all;
  z-index: 200;
}

.ui-menu-item-wrapper:hover {
  color: #fbbb3b;
  transform: scale(1.01);
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  position: relative;
  top: -1312px;
  width: 250px;
  margin: 0 auto;
}

.active {
  color: white;
 color: #fbbb3b;
}



.number {
  font-weight: 400;
  width: 1rem;
}